.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Disables scrolling */
  background-size: cover;
  background-position: center;
  animation: backgroundCarousel 30s linear infinite; /* 15 seconds for the full cycle */
  font-family: 'Arial', sans-serif;
}

@keyframes horizontalScroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300% 0; /* Adjust based on the width of the sprite */
  }
}

@keyframes backgroundCarousel {
  0% {
    background-image: url('/images/smart-house-1.png');
  }
  33% {
    background-image: url('/images/smart-house-2.png');
  }
  66% {
    background-image: url('/images/smart-house-3.png');
  }
  100% {
    background-image: url('/images/smart-house-2.png');
  }
}


.login-form {
  position: absolute;
  top: 40%; /* Adjusted to move the form further up */
  right: 5%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 1.5rem;
  color: #333333;
  font-size: 1.8rem;
  font-weight: bold;
}

/* Input fields */
.form-group {
  margin-bottom: 1.2rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #555555;
}

input {
  width: 100%;
  padding: 0.6rem 0.6rem; /* Equal padding for left and right */
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box; /* Ensures padding is included in the width */
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #6a11cb;
  outline: none;
  box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

/* Button styling */
.btn {
  width: 100%;
  padding: 0.9rem;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb);
}

/* Links styling */
.links {
  margin-top: 1.5rem;
}

.links a {
  color: #6a11cb;
  text-decoration: none;
  font-weight: 600;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #2575fc;
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-top: 10px;
  margin-bottom: 20px; /* Adds space between the error message and the Login button */
  font-size: 0.9rem;
}

